<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
   {% load static from staticfiles %}

    <title>{{ title }} - Channel {{ channel_id }}</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/base.css' %}"  type="text/css" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
  </head>
  <body>
  </body>
</html>
